{% extends "base.html.twig" %}

{% block body %} 
<div class="container col-md-10 text-center mt-3">
<tr>
        <th colspan="3" ><li><a class="text text-primary"><h2>List of Course<h2></a></li></th>
        {% if is_granted ('ROLE_ADMIN')%}
        <th> <a class="btn btn-info text-center" href="{{ path('course_add')}}">Add new Course</a>
        </th>
        {% endif %}
       
 </tr>
<table class="table table-info">

    <thead>
        <tr>
            <th>No</th>
            <th>Image</th>
            <th>Course Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
 
    {% set i = 1 %}
    {% for course in course %}
        <tr>
            <td>{{ i }}</td>
            <td><img src="{{ course.image }}" width="200" height="200"></td>
            <td>{{ course.name }}</td>
            <td>
          
                <a href="{{path('course_detail',{'id': course.id})}}">
                <img src="{{ asset('images/file.png')}}" width="30" height="30">
                </a>
                     {% if is_granted ('ROLE_ADMIN')%}
                <a href="{{path('course_edit',{'id': course.id})}}">
                    <img src="{{ asset('images/edit.png')}}" width="30" height="30">
                </a>
                <a  href="{{path('course_delete',{'id': course.id})}}"
                onclick="return confirm('Are you sure to delete this Course ?')";
                >
                    <img src="{{ asset('images/delete.png')}}" width="30" height="30">
                </a>
                {% endif %}
            </td>

             
           
        </tr>
        {% set i = i + 1 %}
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}