{% extends "base.html.twig" %}

{% block body %}
<div class="container col-md-8 mt-3">
   <div class="row">
      <div class="col-md-4">
         <div class="card">
            <img src="{{ student.image }}" width="315" height="250">
         </div>
      </div>
      <div class="col-md-8">
         <div class="card">
            <div class="card-header">
               <h1 class="text text-primary text-center">{{ student.name }} </h1>
            </div>
   
               <div class="card-body">
               <h3 class="text text-danger">Student ID: {{ student.studentid }} </h3>
                  <h3 class="text text-info">Date of brithday: {{ student.brithday | date ('d/m/Y') }} </h3>
                  
                  <h3 class="text text-success">Email Contact: {{ student.email }} </h3>

                  <h3 class="text text-success">Phone Number: {{ student.phone }} </h3>
                  <h5 class="text">Major : 
                     {% if student.major != null %}
                           {{ student.major.name }} 
                     {% else %}
                        N/A
                        </li>
                     
                     {% endif %}

                  </h3>
                  <h3 class="text text-warning">Subjects currently studying: </h3>
                  {% if student.courses != null %}
                       <ul>
                        {% for course in student.courses %}
                           <li>
                              	<a class="text text-success text-decoration-none" href="{{ path('course_detail', {'id' : course.id })}}">
                                 {{ course.name }}
                              </a>
                         {% else %}
                        N/A
                           </li>
                        {% endfor %}
                        
                     </ul>
                     
                {% endif %}  
               </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}